<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><h4><i style="font-size:20px;padding:0 10px" class="fa">&#xf0ac;</i>Danh sách sản phẩm</h4></li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="form-group" style="display: flex;">
    <div  style="display:flex;align-items: baseline;">
      <span for="exampleFormControlSelect1">Hiển thị</span>
      <select class="form-control" (change)="onChange($event.target.value)" style="width:80px;margin-left:10px">
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="80">80</option>
      </select>
      <span for="exampleFormControlSelect1" style="margin-left: 10px;">bản ghi</span>
    </div>
    <div  style="display:flex;align-items: baseline;margin: 0 30px;">
      <span for="exampleFormControlSelect1" style="font-weight: bold;">Sắp xếp</span>
      <select class="form-control" (change)="onChange($event.target.value)" style="width:180px;margin-left:10px">
        <option value="20">Ngày mới nhất</option>
        <option value="40">Sắp xếp theo ký tự từ A-Z</option>
        <option value="80">Sắp xếp theo ký tự từ Z-A</option>
      </select>
    </div>
    <div  style="display:flex;align-items: baseline;">
      <span for="exampleFormControlSelect1" style="margin:0 10px;font-weight: bold;">Search</span>
      <input type="text" class="form-control" id="myInput"  aria-describedby="emailHelp" placeholder="Enter keyword . . . ">
    </div>
  </div>
  <table class="table table-hover table-bordered" id="excel-table">
    <thead>
      <tr>
        <th scope="col" (click) = "sortby('id')">ProductId</th>
        <th scope="col" (click) = "sortby('name')">ProductName</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">SalePrice</th>
        <th scope="col">Status</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">CategoryId</th>
        <th scope="col">CreatedDate</th>
        <th scope="col">UpdatedDate</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr *ngFor="let item of listProduct | paginate: {itemsPerPage:pageSize,currentPage:p}">
        <td>{{item.productId}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td>{{item.salePrice}}</td>
        <td>{{item.status == true ? 'Kích hoạt' : 'chưa kích hoạt'}}</td>
        <td><img style="width: 50px;height: 50px;" src="http://localhost:19776/api/Product/get-product-image?image={{item.image}}" alt=""></td>
        <td>{{item.description}}</td>
        <td>{{item.category.categoryName}}</td>
        <td>{{item.createdDate | date:'dd-MM-yyyy hh:ss'}}</td>
        <td>{{item.updatedDate | date:'dd-MM-yyyy hh:ss'}}</td>
        <td class="td">
          <a href="" data-toggle="modal" data-target="#detailModal" (click)="ShowProDetail(item.productId)" ><i class="fa fa-pencil-square-o" style="font-size:24px"></i></a>
          <a href="" data-toggle="modal" data-target="#updateModal" (click)="ShowFormUpdateDetail(item.productId)"><i style="font-size:24px" class="fa">&#xf0c7;</i></a>
          <a (click)="DeleteProduct(item.productId)"><i style="font-size:24px" class="fa">&#xf014;</i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls style="margin-top:30px" (pageChange)="p = $event"></pagination-controls>
</div>


 <!-- FORM DETAIL  -->
 <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">Chi tiết / sản phẩm</h4>
      <img style="width: 150px;height: 150px;text-align: center;" formControlName="image" src="http://localhost:19776/api/Product/get-product-image?image={{image}}">
      </div>
      <form [formGroup]="formDetail" method="post" role="form">
      <div class="modal-body">
       <div class="modal-body-content">
        <span>Product Id</span>
        <input type="text" class="form-control" formControlName="productId" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
       </div>
       <div class="modal-body-content">
        <span>Product Name</span>
        <input type="text" class="form-control" formControlName="productName" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
       </div>
       <div class="container-fluid">
        <div class="row">
         <div style="padding-left: 0;" class="col-md-6" >
           <span>Price</span>
           <input type="text" class="form-control" formControlName="price" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . . " readonly>
         </div>
          <div style="padding-left: 0;" class="col-md-6" >
            <span>Sale price</span>
            <input type="text" class="form-control" formControlName="salePrice"  style="margin:10px 0;border-radius: 3px; cursor: not-allowed;"   placeholder="Enter . . ." readonly>
          </div>
        </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div style="padding-left: 0;" class="col-md-6" >
              <span>Quantity</span>
              <input type="text" class="form-control" formControlName="quantity" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
            </div>
            <div style="padding-left: 0;" class="col-md-6" >
              <span>Status</span>
              <input type="text" class="form-control" formControlName="status"  style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
            </div>
          </div>
         </div>
         <div class="modal-body-content">
          <span>Category Id</span>
          <input type="text" class="form-control" formControlName="categoryId" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
         </div>
         <div class="modal-body-content">
          <span>Description</span>
          <input type="text" class="form-control" formControlName="description" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
         </div>
  
       <div class="container-fluid">
        <div class="row">
          <div style="padding-left: 0;" class="col-md-6" >
            <span>Created Date</span>
            <input type="text" class="form-control" formControlName="createdDate" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
          </div>
          <div style="padding-left: 0;" class="col-md-6" >
            <span>Updated Date</span>
            <input type="text" class="form-control" formControlName="updatedDate"  style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
          </div>
        </div>
       </div>
      </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>


   <!-- FORM UPDATE  -->
 <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border-radius: 5px;">
      <div class="modal-header">
      <h4 class="modal-title" id="exampleModalLabel">Cập nhật / sản phẩm</h4>
      </div>
      <form  [formGroup]="formUpdate" method="post" role="form">
      <div class="modal-body">
       <div class="modal-body-content">
        <span>Product Id</span>
        <input type="text" class="form-control" formControlName="productId" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
       </div>
       <div class="modal-body-content">
        <span>Product Name</span>
        <input type="text" class="form-control" formControlName="productName" style="margin:10px 0;border-radius: 3px;" placeholder="Enter . . .">
       </div>
       <div class="container-fluid">
        <div class="row">
         <div style="padding-left: 0;" class="col-md-6" >
           <span>Price</span>
           <input type="number" class="form-control" formControlName="price" style="margin:10px 0;border-radius: 3px;" placeholder="Enter . . . ">
         </div>
          <div style="padding-left: 0;" class="col-md-6" >
            <span>Sale price</span>
            <input type="number" class="form-control" formControlName="salePrice"  style="margin:10px 0;border-radius: 3px;"   placeholder="Enter . . .">
          </div>
        </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div style="padding-left: 0;" class="col-md-6" >
              <span>Quantity</span>
              <input type="number" class="form-control" formControlName="quantity" style="margin:10px 0;border-radius: 3px;" placeholder="Enter . . ." >
            </div>
            <div style="padding-left: 0;" class="col-md-6" >
              <div class="modal-body-content">
                <span>Trạng thái</span>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName ="status" id="input" value="true">
                      hiện
                  </label>
                </div>
    
                <div class="radio">
                  <label for="">
                    <input type="radio" formControlName ="status" id="input" value="false">
                      ẩn
                  </label>
                </div>
               </div>
            </div>
          </div>
         </div>
         <div class="modal-body-content">
          <span>Category Id</span>
            <select formControlName="categoryId" id="input" class="form-control" required="required">
              <option *ngFor="let item of listCategory" value="{{item.categoryId}}">{{item.categoryName}}</option>
            </select>
         </div>
         <div class="modal-body-content">
          <span>Description</span>
          <input type="text" class="form-control" formControlName="description" style="margin:10px 0;border-radius: 3px;" placeholder="Enter . . .">
         </div>
         <div class="modal-body-content">
          <span>Image</span>
          <input type="file" class="form-control" (change)="onFileChange($event)" formControlName="image" style="margin:10px 0;border-radius: 3px;" >
          <img *ngIf="selectedImage"  style="width: 150px;height: 150px" [src]="selectedImage" alt="Selected Image">
         </div>
         <img *ngIf="eventOccurred" style="width: 150px;height: 150px;text-align:  center;" formControlName="imageold"  src="http://localhost:19776/api/Product/get-product-image?image={{imageold}}">

       <div class="container-fluid">
        <div class="row">
          <div style="padding-left: 0;" class="col-md-6" >
            <span>Created Date</span>
            <input type="text" class="form-control" formControlName="createdDate" style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
          </div>
          <div style="padding-left: 0;" class="col-md-6" >
            <span>Updated Date</span>
            <input type="text" class="form-control" formControlName="updatedDate"  style="margin:10px 0;border-radius: 3px; cursor: not-allowed;" placeholder="Enter . . ." readonly>
          </div>
        </div>
       </div>
      </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button"   (click)="onSubmitFromUpdate($event)" class="btn btn-warning" data-dismiss="modal">Cập nhật</button>
      </div>
      </div>
    </div>
  </div>