<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><h4><i style="font-size:20px;padding:0 10px" class="fa">&#xf0ac;</i>Danh sách danh muc</h4></li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="form-group" style="display:flex;align-items: baseline;">
    <span for="exampleFormControlSelect1">Hiển thị</span>
    <select class="form-control" (change)="onChange($event.target.value)" style="width:80px;margin-left:10px">
      <option value="20">20</option>
      <option value="40">40</option>
      <option value="80">80</option>
    </select>
    <span for="exampleFormControlSelect1" style="margin-left: 10px;">bản ghi</span>
  </div>
  <table class="table table-hover table-bordered" id="excel-table">
    <thead>
      <tr>
        <th scope="col" (click) = "sortby('id')">CategoryId</th>
        <th scope="col" (click) = "sortby('name')">CategoryName</th>
        <th scope="col">Status</th>
        <th scope="col">Image</th>
        <th scope="col">CreatedDate</th>
        <th scope="col">UpdatedDate</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listCategory | paginate: {itemsPerPage:pageSize,currentPage:p}">
        <td>{{item.categoryId}}</td>
        <td>{{item.categoryName}}</td>

        <td>{{item.status == true ? 'Kích hoạt' : 'chưa kích hoạt'}}</td>
        <td>{{item.image}}</td>
        <td>{{item.createdDate}}</td>
        <td>{{item.updatedDate}}</td>
        <td class="td">
          <a href="" ><i class="fa fa-pencil-square-o" style="font-size:24px"></i></a>
          <a href="" ><i style="font-size:24px" class="fa">&#xf0c7;</i></a>
          <a href="" ><i style="font-size:24px" class="fa">&#xf014;</i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls style="margin-top:30px" (pageChange)="p = $event"></pagination-controls>
</div>
