<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><h4><i style="font-size:20px;padding:0 10px" class="fa">&#xf0ac;</i>Thêm mới địa chỉ</h4></li>
    </ol>
  </nav>
  
    <div class="container" >
      <hr/>
      <form [formGroup]="infoForm"  method="post" role="form" class="login100-form validate-form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  
            <div class="wrap-input100 validate-input">
              <span style="font-weight: bold;">Địa chỉ</span>
              <input type="text" class="form-control" formControlName="address" style="margin:10px 0;border-radius: 3px;" placeholder="Chỉ nhập kí tự [a-zA-Z_0-9]" >
            </div>
            <div *ngIf="f.address.dirty || f.address.touched">
                <div *ngIf="f.address.errors">
                <span class="err" *ngIf="f.address.errors.required">Bạn chưa nhập gì </span>
                </div>
            </div>

            <div class="wrap-input100 validate-input">
              <span style="font-weight: bold;">Account Id</span>
              <select formControlName="accountId" style="margin:10px 0;border-radius: 3px;" class="form-control" required="required">
                <option *ngFor="let item of listAccount" value="{{item.id}}">{{item.userName}}</option>
              </select>
            </div>
            <div *ngIf="f.accountId.dirty || f.accountId.touched">
                <div *ngIf="f.accountId.errors">
                <span class="err" *ngIf="f.accountId.errors.required">Bạn chưa nhập gì </span>
                </div>
            </div>
    
            <div class="modal-footer">
                <button type="submit"  class="btn btn-primary" data-dismiss="modal">Thêm mới</button>
            </div>
        </form>
    </div>
  